<div ng-controller="mainController">
    
    <div class="img-form col-md-12 col-xs-12" >
        <img class="form-img" src="img/form.png"/>
        <a ng-href="/"><img class="logo_form" src="./img/logo1.png"/></a>
    </div>
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-6 col-xs-6">
        <form class="contact_form" name="userForm" ng-submit="submitForm()" novalidate>
            <ul>
                <li> 
                    <br>
                    <p>Contáctenos: </p> 
                    <hr>
                    <br> 
                </li> 
                <li class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>Nombre: </label>
                    <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Nombre..." required>
                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Completa este campo</p>
                </li>
                <li class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label>Email: </label>
                    <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="nombre@algo.es">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">La dirección debe tener este formato: <en> nombre@algo.es </en> .</p>
                </li>
                <li> 
                    <label for="message">Mensaje: </label> 
                    <textarea name="message" class="form-control" required></textarea>
                </li> 
                <button type="submit" class="submit btn-warning" ng-disabled="userForm.$invalid">Enviar</button>
                </ul>
            <a ng-href="/showPlaya"><img class="form_flecha" src="./img/flecha.png"/></a> 
        </form>
    </div>
    <div class="col-md-3 col-xs-3"></div>
</div>
    
 
   